* {
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: white;
}

nav {
	position: relative;
	display: flex;
	background: grey;
}

ul {
	list-style: none;
	display: flex;
}

li {
	margin: 10px;
	padding: 10px;
	border: 1px white solid;
	border-radius: 5px;
	transition: 0.2s;
}

li:hover {
	border: 1px silver solid;
	color: silver;
	transition: 0.2s;
}

.burger {
	position: absolute;
	top: 27%;
	left: 93%;
}

.fa, .fas {
	font-size: 40px;
}

.form-container {
	display: flex;
	justify-content: center;
}

.form {
	display: flex;
	flex-direction: column;
}

label {
	display: inline-grid;
	text-align: center;
	margin-top: 10px;
}

button {
	margin-top: 10px;
}

.fas, fa-user-plus, .far, fa-user {
	font-size: 20px;
	transition: 0.2s;
}

.fa-user-plus:hover, .fa-user:hover {
	transition: 0.2s;
	color: grey;
}

.not-a-button {
	background: grey;
}

p {
	margin: 5px;
}

p:hover {
	cursor: pointer;
	color: silver;
}